node_modules
.env
dist
tmp
.DS_Store
db/archive
db/saved_images
db/stock_images
db/italian_restaurant_clean.zip
restaurants-images
compressed-images
models
embeddings.tar
migrations
restaurants_macro_cuisines.csv
checkpoints/